.maytinh{
    width: 500px;
    background: #F3EEE7;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    font-size:30px;
    color: white;
    padding: 20px 0;
}
.nhap{
    margin-top:20px;
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 55px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}
input{
    border: none;
    border-radius: 10px;
    color: red;
}
button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    border: 2px solid white;
    
    
}
button.submit{
width: 160px;
border-radius: 10px;
background: #1eab1e;
}
button.xoa{
    background:#e03030;
}
.giatri{
    border-bottom: none;
    height: 30px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    text-indent: 10px;
}
.ketqua{
    border-top: none;
    height: 30px;
    border-radius: 0 0 10px 10px;
}
.number{
    
    background: #6c30e0;

}
.toantu{
    background: #1933e8;
}


 
    
    

